/* Font sourced externally from https://www.cdnfonts.com/jersey-m54.font */
@font-face {
  font-family: Jersey;
  src: url("./assets/Jersey-M54.woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Jersey, "Trebuchet MS",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
